{% extends "navbar.html" %}
{% block content %}
    <div class="mx-auto" style="max-width: 1300px">
        <div class="row">
            <div class="col-lg-7 px-0">
                <div class="caro">
                    {% for movie in movies %}
                    <div>
                        <img src="" data-lazy='{{ movie.coverimageurl }}' alt="{{ movie.title }}" style="width: 100%">
                    </div>
                    {% endfor %}


                </div>
            </div>
            <div class="col-sm-5 px-0">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" >
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">About</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content ">
                    <div class="tab-pane active" id="home" role="tabpanel" >
                        <div class="list-group ">
                            <a href="#"
                               class="list-group-item list-group-item-action flex-column align-items-start active "
                               style="border-top-right-radius: 0;
    border-top-left-radius: 0;">

                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                    risus
                                    varius blandit.</p>
                                <small>Donec id elit non mi porta.</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                    risus
                                    varius blandit.</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                            <a href="#"
                               class="list-group-item list-group-item-action flex-column align-items-start rounded-0"
                               style="border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;">

                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                    risus
                                    varius blandit.</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel">
                        <br/>
                    </div>


                </div>

            </div>


        </div>
    </div>
    <script>


        $(document).ready(function () {
            $('.caro').slick({
                lazyLoad: 'ondemand',

                speed: 300,
                arrows: false,
                Width:890,

                autoplay: true,
                autoplaySpeed: 2000
            });
        });
    </script>
{% endblock content %}
