{% extends "template.html" %}



{% block content %}
    {% macro render_field(field) %}
        {{ field.label }}
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endmacro %}


    <div class="wrapper">
        <form class="form-signin" onsubmit="return false">
            <h2 class="form-signin-heading" id="p-name">User Login</h2>
            <div class="input">
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
            </div>
            <button id="sign-out" class="btn btn-lg btn-primary btn-block" style="display: none;">Sign out</button>

            <button class="btn btn-lg btn-primary btn-block" id="login-btn" type="submit">Login</button>

        </form>
    </div>

{% endblock content %}
